*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #38b5ed9c;
 
}
.header-section1{
    background-color: #3e1173c7;
    box-shadow: 3px 2px 12px #3e1173c7;
    display: flex;
    justify-content: space-around;
    height: 25vh;
    align-items: center;
}
#digitalImagelogo
{
    width: 80px;
    height: 60px;
}
#digitalImagelogo:hover{
    translate: 2px;
}

.search{
  padding: 8px 26px;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 0s;
  transition-timing-function: ease-in-out;
  
}
.search:hover{
    padding: 9px 36px;
}
/* .search-icon{
    position: absolute;
    left: 0px;
} */


/*  Section 2 start */

.section-2{
   
    display: flex;
    width: 100vw;
    justify-content: space-evenly;
    height: 40vh;
    
    box-shadow:inset 3px 2px 52px #dcceebc7;
    margin-top: 26px;
   
    
}
.menu-items{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: #ffffff;
height: 90%;
margin: 0 12px;
box-shadow:  3px 8px 16px #d3bfebc7;
width: 40%;

}
.menu-items li{
    list-style-type: none;
    margin: 8px 2px;
    background-color: #ecf4f8;

    transition-property: background-color;
    transition-duration: 0.2s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out;

}
.menu-items li:hover{
    background-color: rgb(222, 201, 201);
}
.menu-items li a{
    text-decoration: none;
    color: black;

    transition: background-color ease 1s;
}
.menu-items li a:active{
    background-color: rgb(106, 137, 137);
}


.mobileandpc{
    margin: 0 16px;
   width: 90%;
   height: 90%;
}
#mobileandpc{
    width: 95%;
    height: 100%;
}


/* section for smart phone  */
#smart-phone{
    margin: 5px 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.section-3{
    /* background-color: #5495f0; */
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
   
    

    margin: 16px 0;
    
}
.section-3 div{
    background-color: #ffffff;
    
    margin: 12px 3px;
    position: relative;
    height: 99%;
    
    
}
.section-3 img{
    width: 90%;
    height: 200px;
    display: block;
   margin: auto auto;

}
.section-3 p{
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 50px;
}


/* ya bi section 3 ki hai 868 k lia */
@media (max-width: 860px){
  
/* section for smart phone  */
.section-3{
    /* background-color: #82a8dc; */
    display: grid;
    grid-template-columns: auto auto auto;
    
    justify-content: space-around;

    margin: 16px 0;
    
}
.section-3 div{
    background-color: #ffffff;
    
    margin: 12px 3px;
    position: relative;
    height: 99%;
  
    
}

.section-3 p{
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 50px;
}
}

/* ya bi section 3 ki hai 768 k lia */

@media (max-width: 768px){
    
/* section for smart phone  */
.section-3{
    /* background-color: #82a8dc; */
    display: grid;
    grid-template-columns: auto  auto;
    
   

    margin: 16px 0;
    
}
.section-3 div{
    background-color: #ffffff;
    
    margin: 12px 3px;
    position: relative;
    height: 99%;
    
    
}
.section-3 img{
    /* width: 90%;
    height: 200px;
    display: block;
   margin: auto auto; */

}
.section-3 p{
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 50px;
}
}


/* section 4 */
#laptop{
    /* margin: 76px 12px; */
    margin-top: 76px;
    margin-left: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.section-4{
    /* background-color: #82a8dc; */
    display: grid;
    grid-template-columns: auto  auto auto auto;
    
   

    margin: 16px 0;
    
}
.section-4 div{

    background-color: #ffffff;
    
    margin: 12px 3px;
    position: relative;
    height: 99%;
    
    
}
.section-4 img{
   
    display: block;
   margin: auto auto;

}
.section-4 p{
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 70px;
}

/* section 4 media query */
@media (max-width: 860px){
  
    /* section for smart phone  */
    .section-4{
        /* background-color: #82a8dc; */
        display: grid;
        grid-template-columns: auto auto ;
        
        justify-content: space-around;
    
        margin: 16px 0;
        
    }
    .section-4 div{
        background-color: #ffffff;
        
        margin: 12px 3px;
        position: relative;
        height: 99%;
      
        
    }
    
    .section-4 p{
        text-align: center;
        position: absolute;
        bottom: 5px;
        right: 50px;
    }
    }



/* section 5 */

 /* section for smart watches  */

 #smart-watch{
    margin-top: 70px;
    margin-left: 20px;
 }
 .section-5{
    /* background-color: #82a8dc; */
    display: grid;
    grid-template-columns: auto auto ;
    
    
    margin: 16px 0;
    
}
.section-5 div{
    background-color: #3ba7dad6;
    border-radius: 12px;
    box-shadow:  7px 7px 16px #031f2cd6;
    margin: 12px 3px;
    position: relative;
    height: 95%;
    width: 60%;
    
    margin-left: auto;
    margin-right: auto;
    
}

.section-5 img{
   
    display: block;
   margin: 25px auto;

}

.section-5 p{
    /* text-align: center; */
    position: absolute; 
     bottom: 0px;
    right: 100px;
  
}

/* footer */
.footer{

    margin-top: 55px;
    border: 2px solid red;
   display: flex;
   /* justify-content: center; */
   flex-direction: column;
   align-items: center;
   padding: 22px 0;
   font-weight: 900;
   background-color: #dedfebde;
   width: 100vw;

}
.footer img{
    width: 40px;
    padding: 0 4px;
    cursor: pointer;
}
.footer div{
    padding: 12px 0;
}